.error,
.success {
    color: var(--color-error);
    font-size: 14px;
    border: 2px solid var(--color-error);
    border-radius: var(--border-radius);
    padding: 10px;
    text-align: center;
}

.success {
    color: var(--color-success);
    border: 2px solid var(--color-success);
}

.info {
    font-size: 14px;
    text-align: center;
    color: #555;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
