.expandable {
    border-radius: var(--border-radius);
}

.expandable,
.title {
    color: var(--color-font);
    font-size: 12px;
    font-weight: 400;
}

.title {
    padding: calc(var(--margin-basic) / 2);
}

.expandable[open] .title {
    margin-bottom: calc(var(--margin-basic) / 2);
}
