@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--color-background);
    background-image: url(/assets/dot-grid.png);
    font-weight: 400;
    color: var(--color-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
    color: var(--color-font);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1,
h2 {
    margin: var(--margin-basic);
    text-align: center;
    font-size: 22px;
}

h2 {
    font-size: 18px;
    text-align: left;
}

p {
    margin: var(--margin-basic) 0;
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
    background-color: #fff;
    max-width: 1024px;
    height: auto;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

:root {
    --color-contrast: #2a9d8f;
    --color-font-contrast: #fcfcfc;
    --color-contrast-second: #577590;
    --color-background: #f9f9f9;
    --color-font: #232323;
    --color-dark: #030303;
    --color-success: #43aa8b;
    --color-error: #f94144;
    --border-radius: 10px;
    --margin-basic: 10px;
}

@media only screen and (min-width: 768px) {
    #app {
    }
}
