.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
