.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-background);
    max-width: 1024px;
    height: auto;
    padding: 5px 15px;
    margin: 0 auto;
    margin-bottom: var(--margin-basic);
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

.link {
    text-decoration: none;
}

.logo image {
    fill: var(--color-contrast);
}

.link,
.logo {
    width: 60px;
    height: auto;
}

.linkButton {
    display: flex;
    justify-content: space-around;
    margin: var(--margin-basic) 0;
    width: 100%;
    max-width: 110px;
    padding: 8px;
    height: 40px;
    font-weight: 600;
    border-radius: var(--border-radius);
    font-size: 14px;
    cursor: pointer;
    color: var(--color-contrast) !important;
    text-decoration: none;
    border: 2px solid var(--color-contrast);
}

.linkButton:hover {
    border: 2px solid var(--color-contrast);
}

.linkButton:active {
    filter: brightness(95%);
}

.linkButton svg {
    width: 20px;
    height: auto;
    fill: var(--color-contrast);
}

@media only screen and (min-width: 768px) {
    .header {
        margin-bottom: 20px;
    }
}
