.header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.link {
    text-decoration: none;
}

.link,
.logo {
    width: 60px;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .header {
        margin-bottom: 20px;
    }
}
