.textarea {
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    border: 1px solid #eee;
    margin-bottom: 7px;
    padding: 10px;
}

.compress {
    height: 75px;
}

.thick {
    border: 7px solid #eee;
}

.select,
.input {
    width: 100%;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
}

.buttonBurn,
.buttonCreate {
    margin: 7px 0;
    width: 100%;
    max-width: 150px;
    height: 50px;
    font-weight: 600;
    border-radius: var(--border-radius);
    font-size: 14px;
    cursor: pointer;
}

.buttonCreate:hover,
.buttonBurn:hover {
    filter: brightness(115%);
}

.buttonBurn:hover {
    border: 1px solid var(--color-contrast);
}

.buttonCreate:active,
.buttonBurn:active {
    filter: brightness(95%);
}

.buttonCreate {
    background-color: var(--color-contrast);
    color: var(--color-font-contrast);
    border: none;
}

.buttonBurn {
    color: var(--color-font);
    border: 2px solid var(--color-contrast);
    background-color: #fff;
}

.full {
    max-width: 100%;
}
