.textarea {
    width: 100%;
    height: 100px;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    border: 1px solid #eee;
    margin-bottom: var(--margin-basic);
    padding: 10px;
    transition: height 0.1s;
}

.compress {
    height: 75px;
}

.thick {
    border: var(--margin-basic) solid #eee;
}

.isActive {
    height: 200px;
}

.select,
.input {
    width: 100%;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: var(--margin-basic);
}

.buttonBurn,
.buttonCreate {
    margin: var(--margin-basic) 0;
    width: 100%;
    max-width: 150px;
    height: 50px;
    font-weight: 600;
    border-radius: var(--border-radius);
    font-size: 14px;
    cursor: pointer;
}

.buttonCreate:hover,
.buttonBurn:hover {
    filter: brightness(115%);
}

.buttonBurn:hover {
    border: 1px solid var(--color-contrast);
}

.buttonCreate:active,
.buttonBurn:active {
    filter: brightness(95%);
}

.buttonCreate {
    background-color: var(--color-contrast);
    color: var(--color-font-contrast);
    border: none;
}

.buttonBurn {
    color: var(--color-font);
    border: 2px solid var(--color-contrast);
    background-color: var(--color-background);
}

.full {
    max-width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .inputGroup {
        justify-content: space-between;
        flex-direction: row;
    }

    .inputGroup > select {
        margin-right: calc(var(--margin-basic) / 2);
    }

    .inputGroup > input {
        margin-left: calc(var(--margin-basic) / 2);
    }
}
