.textarea {
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
}

.p {
    text-align: center;
    font-size: 14px;
}
