name: 'Owasp ZAP DAST'
on:
    schedule:
        # https://crontab.guru/daily
        - cron: '0 0 * * *'

jobs:
    zap_scan:
        runs-on: ubuntu-latest
        name: Scan the webapplication
        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  ref: main
            - name: ZAP Scan
              uses: zaproxy/action-full-scan@v0.3.0
              with:
                  target: 'https://hemmelig.app'
